
pyelftools
pyyaml
cocotb

-e git+https://github.com/fvutils/mkdv.git@task_bfm#egg=mkdv

-e git+http://github.com/mballance/vlsim.git#egg=vlsim

-e git+https://github.com/pybfms/pybfms.git#egg=pybfms

# -e git+https://github.com/pybfms/generic_sram_bfms.git#egg=generic_sram_bfms
# -e git+https://github.com/pybfms/mem_bfms_core.git#egg=mem_bfms_core
# -e git+https://github.com/fvutils/fltools.git#egg=fltools


