
pyelftools
pyyaml
cocotb
vlsim

-e git+ssh://git@github.com/pybfms/pybfms.git#egg=pybfms
-e git+ssh://git@github.com/pybfms/pybfms_generic_sram.git#egg=pybfms_generic_sram
-e git+ssh://git@github.com/pybfms/pybfms_mem_core.git#egg=pybfms_mem_core
-e git+ssh://git@github.com/fvutils/mkdv.git#egg=mkdv


