# FWRISC Verification

FWRISC uses Verilator as the HDL simulator, and uses a Googletest-based testbench environment.

FWRISC currently has two testbench environments:
- Core-level testbench, which is used for unit tests, compliance tests, and Zephyr tests
- FPGA-level testbench, which is used to sanity-test the FPGA top-level


## Running Block-level Tests

## Running System-level Tests
