# FWRISC Verification


FWRISC currently has two testbench environments:
- 

## Running Block-level Tests

## Running System-level Tests
